<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <p><i class="fas fa-dove"></i>　メンバーみんなが納得する家事の価値を決めましょう。時間はかからないけれど、誰もやりたくない家事の時給は高く設定すべし！</p>
        <p><i class="far fa-grin-squint"></i>　排水溝の掃除とかは10分やったら500円くらい欲しいから、時給は3000円にしよう。</p>
    <div class="js-errors-worktype"></div>
    <%= form_for(@worktype , remote:"true") do |f| %>
        <% @worktype.room_id = @room.id %>
        <%= f.hidden_field :room_id %>
        <%= f.label "家事内容" %>
        <%= f.text_field :name , placeholder: "ex）洗濯機を回す、選択をたたむ、資源ごみをまとめる"%>
        <%= f.label "時給にすると" %>
        <%= f.number_field :timepay , placeholder: "ex）2000"%>
        <%= f.submit "家事を追加", class: "btn btn-primary"%>
    <% end %>
    </div>
</div>